@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,::after,::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.view{
    width: 100vw;
    display:grid;
    grid-template-columns: 250px repeat(3,1fr);
    grid-template-rows: repeat(1,200px) repeat(4,200px);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: capitalize;
}

.side-bar{
    background-color: #0ea5e9;
    color: white;
    grid-row-start: 1;
    grid-row-end: 6;
}

h2{
    margin-top: 20px;
    text-align: center;
}

.util{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
}

a{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50px;   
}

a:hover{
    text-decoration: underline;
}

a:visited , a:link{
    color: white;
}

i{
    margin: 10px;
}

.top-bar{
    background-color: #eee;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}
.top , .info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.min-PP{
    margin: 10px;
    border-radius: 100%;
}
.max-PP{
    border-radius: 100%;
    margin: 10px;
}

input{
    border-radius: 30px;
    background-color: #DDD;
    width: 50vw;
    padding: 5px 10px;
}

.bottom , .user{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.information{
    text-transform: none;
}
.hi{
    margin-top: 30px;
}

.btn-prof{
    display: flex;
    align-items: center;
}
.btn-profile{
    background-color: #0ea5e9;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0px 0px 8px 0px black
}
.btn-profile:hover{
    text-decoration: none;
    box-shadow: inset -12px -5px 20px 1px #0a4d5b;
}

.main{
    width: 100%;
    background-color: #AAA;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:6;
    padding: 10px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(1,minmax(400,1fr)) 100px;
    grid-template-rows: repeat(2,400px);
    /* grid-template: auto 1fr / 2fr minmax(300px, 1fr); */
}
.project , .anno {
    margin-top: 30px;
}
.card-container{ 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    grid-template-rows: repeat(2,200px);
    gap: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #0c0c0c; 
    border-left: #fb8600 solid 10px;
}

.text , .title{
    margin:10px;
}
.icon{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
button{
    padding: 5px;
    border: none;
    background: none;
}
button:hover{
    zoom: 1.1;
}

.annoucements{
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    width: 250px;
    margin-right: 10px;
    box-shadow: 0px 4px 12px black;
} 

.text-anno{
    padding: 6px;
}
#last{
    border-bottom: none;
}
.text-anno{
    border-bottom: 1px solid black;
}


.trending{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.profil-add{
    border: 1px solid #999;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px black;
    height: 300px;
    width: 250px;
    margin-top: 10px;
    margin-right: 10px;
}
.pers{
    display: flex;
    align-items: center;
    text-transform: none;
}
.profil-add:hover , .annoucements:hover,.card:hover{
    box-shadow: 0px 4px 20px black;
}
